# use students' enrollment characteristics and assignment performance to predict final exam failed rate

In [43]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
%matplotlib inline
import seaborn as sns
sns.set_style ('darkgrid')

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_curve, roc_auc_score

In [44]:
df=pd.read_csv('sampleunit_202002.csv')
df.head()

,Student_ID,Title,Unit_Location,Class,assignment1,assignment2,assignment3,final
0,31334733,MR,CL,ON-CAMPUS,9.33,11.20,17.75,81.780
1,32028725,MR,CL,ON-CAMPUS,7.21,12.00,17.88,71.340
2,31070272,MS,CL,ON-CAMPUS,9.95,14.00,17.50,70.200
3,30268281,MR,CL,ON-CAMPUS,9.81,12.17,17.88,59.860
4,31011195,MS,CL,ON-CAMPUS,8.25,7.25,12.50,59.625

In [45]:
df.Title.replace('MISS','MS',inplace=True)

In [46]:
df['gender']=pd.get_dummies(df.Title).MR

In [47]:
df.head()

,Student_ID,Title,Unit_Location,Class,assignment1,assignment2,assignment3,final,gender
0,31334733,MR,CL,ON-CAMPUS,9.33,11.20,17.75,81.780,1
1,32028725,MR,CL,ON-CAMPUS,7.21,12.00,17.88,71.340,1
2,31070272,MS,CL,ON-CAMPUS,9.95,14.00,17.50,70.200,0
3,30268281,MR,CL,ON-CAMPUS,9.81,12.17,17.88,59.860,1
4,31011195,MS,CL,ON-CAMPUS,8.25,7.25,12.50,59.625,0

In [48]:
df=pd.get_dummies(df,columns=['Title','Unit_Location','Class'])

In [49]:
df.head()

,Student_ID,assignment1,assignment2,assignment3,final,gender,Title_MR,Title_MRS,Title_MS,Unit_Location_CA,Unit_Location_CL,Class_EVENING,Class_ON-CAMPUS
0,31334733,9.33,11.20,17.75,81.780,1,1,0,0,0,1,0,1
1,32028725,7.21,12.00,17.88,71.340,1,1,0,0,0,1,0,1
2,31070272,9.95,14.00,17.50,70.200,0,0,0,1,0,1,0,1
3,30268281,9.81,12.17,17.88,59.860,1,1,0,0,0,1,0,1
4,31011195,8.25,7.25,12.50,59.625,0,0,0,1,0,1,0,1

In [50]:
df.dtypes

Student_ID            int64
assignment1         float64
assignment2         float64
assignment3         float64
final               float64
gender                uint8
Title_MR              uint8
Title_MRS             uint8
Title_MS              uint8
Unit_Location_CA      uint8
Unit_Location_CL      uint8
Class_EVENING         uint8
Class_ON-CAMPUS       uint8
dtype: object

In [51]:
df.isnull().sum()

Student_ID          0
assignment1         0
assignment2         0
assignment3         0
final               0
gender              0
Title_MR            0
Title_MRS           0
Title_MS            0
Unit_Location_CA    0
Unit_Location_CL    0
Class_EVENING       0
Class_ON-CAMPUS     0
dtype: int64

In [52]:
df['fail']=(df.final<45).astype(int)
df['d_hd']=(df.final>=70).astype(int)
df['hd']=(df.final>=80).astype(int)

In [53]:
df['a1_ratio']=df.assignment1/10
df['a2_ratio']=df.assignment2/15
df['a3_ratio']=df.assignment3/25
df['final_ratio']=df.final/50

In [54]:
df.head(40)

,Student_ID,assignment1,assignment2,assignment3,final,gender,Title_MR,Title_MRS,Title_MS,Unit_Location_CA,Unit_Location_CL,Class_EVENING,Class_ON-CAMPUS,fail,d_hd,hd,a1_ratio,a2_ratio,a3_ratio,final_ratio
0,31334733,9.33,11.20,17.75,81.780,1,1,0,0,0,1,0,1,0,1,1,0.933,0.746667,0.7100,1.6356
1,32028725,7.21,12.00,17.88,71.340,1,1,0,0,0,1,0,1,0,1,0,0.721,0.800000,0.7152,1.4268
2,31070272,9.95,14.00,17.50,70.200,0,0,0,1,0,1,0,1,0,1,0,0.995,0.933333,0.7000,1.4040
3,30268281,9.81,12.17,17.88,59.860,1,1,0,0,0,1,0,1,0,0,0,0.981,0.811333,0.7152,1.1972
4,31011195,8.25,7.25,12.50,59.625,0,0,0,1,0,1,0,1,0,0,0,0.825,0.483333,0.5000,1.1925
5,31265294,9.48,11.72,17.63,86.455,0,0,0,1,0,1,0,1,0,1,1,0.948,0.781333,0.7052,1.7291
6,29966981,9.36,11.00,11.88,61.615,1,1,0,0,0,1,0,1,0,0,0,0.936,0.733333,0.4752,1.2323
7,30155665,10.00,11.40,17.75,68.400,1,1,0,0,0,1,0,1,0,0,0,1.000,0.760000,0.7100,1.3680
8,30701023,9.95,11.80,19.38,75.630,1,1,0,0,0,1,0,1,0,1,0,0.995,0.786667,0.7752,1.5126
9,30385288,9.68,11.70,22.13,66.010,0,0,0,1,0,1,0,1,0,0,0,0.968,0.780000,0.8852,1.3202
10,29945976,8.45,11.20,22.75,71.150,1,1,0,0,0,1,0,1,0,1,0,0.845,0.746667,0.9100,1.4230
11,31207081,8.01,6.70,15.88,50.715,0,0,0,1,0,1,0,1,0,0,0,0.801,0.446667,0.6352,1.0143
12,30813816,9.23,11.67,17.75,76.025,1,1,0,0,0,1,0,1,0,1,0,0.923,0.778000,0.7100,1.5205
13,31198902,9.87,14.00,20.00,72.495,0,0,0,1,0,1,0,1,0,1,0,0.987,0.933333,0.8000,1.4499
14,31415016,9.12,9.30,16.38,65.925,1,1,0,0,0,1,0,1,0,0,0,0.912,0.620000,0.6552,1.3185
15,32194684,8.16,11.63,19.25,66.415,0,0,0,1,0,1,0,1,0,0,0,0.816,0.775333,0.7700,1.3283
16,30664039,9.97,12.50,16.63,66.100,0,0,0,1,0,1,0,1,0,0,0,0.997,0.833333,0.6652,1.3220
17,31842070,8.71,10.53,16.75,35.990,1,1,0,0,0,1,0,1,1,0,0,0.871,0.702000,0.6700,0.7198
18,28749685,5.53,10.87,23.50,67.150,1,1,0,0,0,1,0,1,0,0,0,0.553,0.724667,0.9400,1.3430
19,32066945,9.16,13.37,22.88,73.285,1,1,0,0,0,1,0,1,0,1,0,0.916,0.891333,0.9152,1.4657
20,29961785,9.87,12.20,14.00,74.195,1,1,0,0,0,1,0,1,0,1,0,0.987,0.813333,0.5600,1.4839
21,30812682,9.75,12.40,18.25,77.900,0,0,0,1,0,1,0,1,0,1,0,0.975,0.826667,0.7300,1.5580
22,31033121,10.00,13.80,18.25,66.300,1,1,0,0,0,1,0,1,0,0,0,1.000,0.920000,0.7300,1.3260
23,31070647,10.00,12.50,19.63,66.880,0,0,0,1,0,1,0,1,0,0,0,1.000,0.833333,0.7852,1.3376
24,30804728,9.77,11.70,20.25,77.095,0,0,0,1,0,1,0,1,0,1,0,0.977,0.780000,0.8100,1.5419
25,30819822,9.71,12.50,17.00,62.960,1,1,0,0,0,1,0,1,0,0,0,0.971,0.833333,0.6800,1.2592
26,30977266,9.92,11.70,22.00,72.120,1,1,0,0,0,1,0,1,0,1,0,0.992,0.780000,0.8800,1.4424
27,30105757,9.80,12.70,18.50,78.500,1,1,0,0,0,1,0,1,0,1,0,0.980,0.846667,0.7400,1.5700
28,30426286,9.08,12.50,24.25,67.705,1,1,0,0,0,1,0,1,0,0,0,0.908,0.833333,0.9700,1.3541
29,31206735,9.85,10.10,18.75,76.825,0,0,0,1,0,1,0,1,0,1,0,0.985,0.673333,0.7500,1.5365
30,29982901,9.89,12.70,17.25,40.000,0,0,0,1,0,1,0,1,1,0,0,0.989,0.846667,0.6900,0.8000
31,31104800,9.48,13.60,19.00,71.330,0,0,0,1,0,1,0,1,0,1,0,0.948,0.906667,0.7600,1.4266
32,30895057,9.92,12.50,15.38,59.050,0,0,0,1,0,1,0,1,0,0,0,0.992,0.833333,0.6152,1.1810
33,31922244,9.69,11.90,19.75,81.590,1,1,0,0,0,1,0,1,0,1,1,0.969,0.793333,0.7900,1.6318
34,30865751,9.77,13.20,19.13,78.225,0,0,0,1,0,1,0,1,0,1,0,0.977,0.880000,0.7652,1.5645
35,28476638,9.76,11.37,21.88,65.885,0,0,0,1,0,1,0,1,0,0,0,0.976,0.758000,0.8752,1.3177
36,29424003,9.65,12.80,22.38,66.330,1,1,0,0,0,1,0,1,0,0,0,0.965,0.853333,0.8952,1.3266
37,29629691,9.95,12.70,17.00,84.275,1,1,0,0,0,1,0,1,0,1,1,0.995,0.846667,0.6800,1.6855
38,30849934,9.95,12.50,19.38,84.955,0,0,0,1,0,1,0,1,0,1,1,0.995,0.833333,0.7752,1.6991
39,31025781,10.00,12.70,18.75,80.200,0,0,0,1,0,1,0,1,0,1,1,1.000,0.846667,0.7500,1.6040

In [55]:
df.drop(['assignment1','assignment2','assignment3','final','Student_ID','Title_MR','Title_MS','Class_EVENING','final_ratio'],axis=1,inplace=True)

In [56]:
df.head()

,gender,Title_MRS,Unit_Location_CA,Unit_Location_CL,Class_ON-CAMPUS,fail,d_hd,hd,a1_ratio,a2_ratio,a3_ratio
0,1,0,0,1,1,0,1,1,0.933,0.746667,0.7100
1,1,0,0,1,1,0,1,0,0.721,0.800000,0.7152
2,0,0,0,1,1,0,1,0,0.995,0.933333,0.7000
3,1,0,0,1,1,0,0,0,0.981,0.811333,0.7152
4,0,0,0,1,1,0,0,0,0.825,0.483333,0.5000

In [57]:
df.to_csv('cohort_2020.csv',index=None)

In [58]:
df2=pd.read_csv('cohort_2020.csv')

In [59]:
df2.head()

,gender,Title_MRS,Unit_Location_CA,Unit_Location_CL,Class_ON-CAMPUS,fail,d_hd,hd,a1_ratio,a2_ratio,a3_ratio
0,1,0,0,1,1,0,1,1,0.933,0.746667,0.7100
1,1,0,0,1,1,0,1,0,0.721,0.800000,0.7152
2,0,0,0,1,1,0,1,0,0.995,0.933333,0.7000
3,1,0,0,1,1,0,0,0,0.981,0.811333,0.7152
4,0,0,0,1,1,0,0,0,0.825,0.483333,0.5000

In [60]:
df2.drop(['hd','d_hd'], axis=1, inplace=True)

In [61]:
df2.head()

,gender,Title_MRS,Unit_Location_CA,Unit_Location_CL,Class_ON-CAMPUS,fail,a1_ratio,a2_ratio,a3_ratio
0,1,0,0,1,1,0,0.933,0.746667,0.7100
1,1,0,0,1,1,0,0.721,0.800000,0.7152
2,0,0,0,1,1,0,0.995,0.933333,0.7000
3,1,0,0,1,1,0,0.981,0.811333,0.7152
4,0,0,0,1,1,0,0.825,0.483333,0.5000

In [62]:
y=df2.fail
X=df2.drop('fail',axis=1)

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3, stratify=df2.fail, random_state=1111)

print(len(X_train),len(X_test), len(y_train), len(y_test))

233 101 233 101

In [63]:
X_train.head()

,gender,Title_MRS,Unit_Location_CA,Unit_Location_CL,Class_ON-CAMPUS,a1_ratio,a2_ratio,a3_ratio
219,0,0,1,0,1,0.997,0.820000,0.6452
165,1,0,1,0,1,0.979,0.880000,0.7152
154,0,0,1,0,1,0.989,0.840000,0.8300
313,1,0,1,0,1,0.653,0.380000,0.4000
65,1,0,0,1,1,0.783,0.773333,0.7400

In [64]:
y_train.head()

219    1
165    1
154    0
313    0
65     0
Name: fail, dtype: int64

In [65]:
pipelines={'l1':make_pipeline(StandardScaler(), LogisticRegression(penalty='l1', random_state=111)),
           'l2': make_pipeline(StandardScaler(),LogisticRegression(penalty='l2' , random_state=111)),
          'rf': make_pipeline(StandardScaler(), RandomForestClassifier(random_state=111)),
          'gb': make_pipeline(StandardScaler(), GradientBoostingClassifier(random_state=111))}

In [66]:
l1_hyperparameters={'logisticregression__C':[0.5,1,10,100,200]}
l2_hyperparameters={'logisticregression__C':[0.5,1,10,100,200]}
rf_hyperparameters={'randomforestclassifier__n_estimators':[1,2,5,10,20],
                   'randomforestclassifier__min_samples_leaf':[1,2,5,10,20]}
gb_hyperparameters={'gradientboostingclassifier__n_estimators':[1,2,5,10,20],
                   'gradientboostingclassifier__min_samples_leaf':[1,2,5,10,20]}

hyperparameters={'l1':l1_hyperparameters,
                 'l2':l2_hyperparameters,
                 'rf':rf_hyperparameters,
                 'gb':gb_hyperparameters}

In [67]:
fitted_models={}

for name, pipeline in pipelines.items():
    model=GridSearchCV(pipeline, hyperparameters[name],cv=10, n_jobs=-1)
    model.fit(X_train, y_train)
    fitted_models[name]=model
    
    print(name,'has been fitted')

C:\Users\KarenZ\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\KarenZ\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

l1 has been fitted

C:\Users\KarenZ\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\KarenZ\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

l2 has been fitted

C:\Users\KarenZ\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

rf has been fitted
gb has been fitted

C:\Users\KarenZ\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [68]:
for name, model in fitted_models.items():
    print(name, model.best_score_)

l1 0.9399141630901288
l2 0.9399141630901288
rf 0.9356223175965666
gb 0.9356223175965666

In [69]:
for name, model in fitted_models.items():
    pred=model.predict_proba(X_test)
    pred=[p[1] for p in pred]
    
    print(name, roc_auc_score(y_test, pred))

l1 0.46842105263157896
l2 0.46842105263157896
rf 0.6885964912280702
gb 0.4736842105263158

In [70]:
type(fitted_models['rf'].best_estimator_)

sklearn.pipeline.Pipeline

In [71]:
pipelines['rf']

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('randomforestclassifier',
                 RandomForestClassifier(bootstrap=True, class_weight=None,
                                        criterion='gini', max_depth=None,
                                        max_features='auto',
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators='warn', n_jobs=None,
                                        oob_score=False, random_state=111,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [72]:
import pickle 

with open ('final_model.pkl','wb') as f:
    pickle.dump(fitted_models['rf'].best_estimator_, f)